/*CSS GLOBALE*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'DM Sans', sans-serif;
   font-family: 'Poppins', sans-serif; */

* {
  scrollbar-width: thin;
  scrollbar-color: #363C48 #20242B;
  } 

::-webkit-scrollbar {
  background-color:  #20242B;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color:  #363C48;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:  #495162;
}
::selection {
  background: #FF00D530;
  color: #000;
}
::-moz-selection {
  background: #FF00D530;
  color: #000;
} 



h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;  
    color: #fff;
}

p,
a {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    letter-spacing: 0.01em;
}
body {
    background-color: #20242B;
     
}
#logo {
    cursor: pointer;
}
.container-1-header {
    border-bottom: 0.5px solid #ffffff40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.container-1-header-col-1 {
    display: flex;
    align-items: center;
    width: 90%;
}
.container-1-header-col-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
}
.container-1-header-col-1 a {
    border-radius: 25px;
    padding: 13px 25px;
    text-decoration: none;
    background: linear-gradient(90deg, #901D7D -6.82%, #FF00D5 0.31%, #901D7D 106.01%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-1-header-col-1 a {
    font-weight: bold;
    font-size: 16px;
}
.container-1-header-col-1 p {
    color: #fff; /* fix per browsers senza webkit */
    background: linear-gradient(to left, #ffffff00, #ffffff);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-right: 15px;
    font-size: 16px;
    transition: font-size 1s;
}
.container-1-header-col-1 p:hover {
    color: #fff; /* fix per browsers senza webkit */
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 17px;
    transition: font-size 1s;
}

.container-1-header-col-2 p {
    padding-right: 15px;
}    
.container-1-header-col-2 img:hover {
    cursor: pointer;
}
.container-2-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(32, 36, 43, 0.15);
    /* filter: blur(9px); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: sticky;
    top: 0px;
    z-index: 100;
}
.nav ul li {
    display: inline;
    color: #fff;
    padding-right: 60px;
}
.nav ul li:last-of-type { 
    padding-right: 0px;
}
.nav a {
    text-decoration: none;
    font-size: 17px;
    transition: color 0.2s;
}
.nav a:hover {
    color: #00FFFF;
    transition: color 0.2s;
}
.back-popup-one {
    z-index: 10;
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    padding: 30px 40px 35px 40px;
    border-radius: 30px;
    position: absolute;
    top: 30vh;
    left: 38%;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.back-popup-one img {
    padding-bottom: 22px;
}
.container-language {
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    padding: 30px 40px 30px 40px;
    border-radius: 30px;
    position: absolute;
    top: 10vh;
    right: 4%;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 102;
}
.lista-lang {
 list-style-type: none;
 color: #fff;
 padding-bottom: 14px;
 cursor: pointer;
}
.lista-lang:last-of-type {
    padding-bottom: 0px;
}
.lista-lang:hover {
    color: #00FFFF;
}

/* ------- Inizio prima sezione -------- */

.container-2 {
    display:flex;
    justify-content: space-between;
    padding: 50px 0px 90px 80px;
}
.sez-1-col-1 {
    width: 60%;
    padding-top: 40px;
}
.sez-1-col-2 {
    width: 40%;
}
.sez-1-col-1 h1 {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 73px;
    line-height: 73px;
    /* padding-bottom: 55px; */
}
.sez-1-col-1 p {
    padding-bottom: 55px;
    line-height: 26px;
    font-size: 18px;
}
.sez-1-col-1 a,
.sez-1-col-1-container-btn a {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px 30px;
    text-decoration: none;
    margin-right: 20px;
    background: linear-gradient(90deg, #00FFFF -3.23%, #0096BE -0.06%, #00FFFF 102.55%);
}
.sez-1-col-1-container-btn { 
    display: flex;
    padding-bottom: 30px;
}
#par-mobile {
    display: none;
}
.container-1-header-mob {
    display: none;
}
.container-2-header-mob {
    display: none;
}
/* ------- Fine prima sezione -------- */













/* ------- Inizio Seconda sezione -------- */
.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testo-container-3 {
    align-self: flex-start;
    width: 60%;
}

.container-3 img { /* ------- gestisce entrebe le immagini delle bolle -------- */
    align-self: flex-end;
    width: 20%;
}

.container-3 img:first-of-type { /* ------- gestisce la bolla di sinistra -------- */
    position: relative;
    bottom: 50px;
    z-index: -1;
}
.container-3 h2 {
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    text-align: center;
    padding-bottom: 45px;
}    
.container-3 p {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}
/* ------- Fine Seconda sezione -------- */




/* ------- inizio terza sezione -------- */
.container-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 60%;
   margin:auto;
   padding: 40px;
   height: auto;
   position: relative; 
   top: -100px; 
}
.img-back {      /* ------- immagine background -------- */
    position: absolute;
    z-index: -1;
    width: 75%;
}
.contain-skill {
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 250px;
    padding: 20px 30px;
    transition: 0.5s;
}
.contain-skill:hover {
    box-shadow: 4px 4px 30px #FF00D5;
    transition: 0.3s;
    transform: scale(1.1 , 1.1);
}

.contain-skill h3 {
    padding-top: 15px;
    line-height: 27px;
}
.sez-4-row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 80px;
}
.sez-4-row-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.bolle-solo-desk {
    position: relative;
    top: -210px;
}


/* ------- inizio quarta sezione -------- */

.container-5 {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin-top: -160px;
}
.cont-5-col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 48%;
}
.ombra-background {
    width: 900px;
    height: 700px;
    position: absolute;
    top: 40px;
    left: 5px;
    z-index: -10;
    background: radial-gradient(64.64% 40.2% at 38.96% 56.13%, rgba(0, 255, 255, 0.12) 0%, rgba(32, 36, 43, 0.12) 100%);
}
.riferimento-relativo {
    position: relative;
}
.cont-5-col-1 h2 {
    font-size: 43px;
    padding-bottom: 45px;
}
.cont-5-col-1 p {
    font-size: 18px;
    padding-bottom: 55px;
    line-height: 26px;
}
.cont-5-col-2 {
    width: 48%;
    overflow: hidden;
    margin-top: -140px;
}
.cont-5-col-2 img {
    width: 100%;
    animation-name: ruotaa;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}
.sez-5-col-1 a,
.sez-5-col-1-container-btn a {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 15px 30px;
    text-decoration: none;
    margin-right: 20px;
    background: linear-gradient(90deg, #00FFFF -3.23%, #0096BE -0.06%, #00FFFF 102.55%);
}
.sez-5-col-1-container-btn { 
    display: flex;
    padding-bottom: 30px;
}
.boll-5 {
    padding-left: 150px;
}




/* inizio  sezione 6 */

/* inizio  switch sezione 6 */
.base-switch {
    width: 180px;
    height: 51px;
    background-color: #4C5669;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s;
  }
  .sx {
    width:50%;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 18px;
  }
  .dx{
    width:50%;
    height: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-size: 18px;
  }
  .pallina {
    border-radius: 20px;
    width: 100px;
    height: 47px;
    background-color: #20242B;
    position: absolute;
    top: 2px;
    left:1px;
    z-index: 1;
  }
  .pallina-dx {
    border-radius: 20px;
    width: 100px;
    height: 47px;
    background-color: #20242B;
    position: absolute;
    top:2px;
    right: 1px;
  }
  /* fine switch sezione 6 */
  
  .section-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 75px;
  }
  .row6-n1 h2 {
      text-align: center;
      font-size: 43px;
      padding-bottom: 45px;
  }
  .row6-n1 p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 26px;
  }
  .row6-n3 {                           /*oggetto da alternare */
      display: flex;
      flex-direction: row;
      width:80%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 70px 0px;
      background: radial-gradient(40.15% 40.15% at 50% 50%, rgba(0, 255, 255, 0.44) 0%, rgba(32, 36, 43, 0) 100%);
      z-index: 0;
  }
  .row6-n3-seconda {
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 70px 0px;
    z-index: 0;
    background: radial-gradient(40.15% 40.15% at 50% 50%, rgba(255, 0, 213, 0.63) 0%, rgba(32, 36, 43, 0) 100%);
  }
  .contain-token {
    padding: 0px 12px;
    width: 400px;
    height: 140px;
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  .contain-token:hover {
    box-shadow: 4px 4px 30px #00FFFF;
    transition: 0.3s;
    transform: scale(1.1 , 1.1);
}
  
  .contain-token-secondo {
    padding: 0px 12px;
    width: 400px;
    height: 140px;
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  .contain-token-secondo:hover {
    box-shadow: 4px 4px 30px #FF00D5;
    transition: 0.3s;
    transform: scale(1.1 , 1.1);
}
 



  .contain-token h2 {
      font-size: 60px;
      padding-left: 15px;
  }
  .contain-token h3 {
    font-size: 23px;
}
.contain-token-secondo h2 {
    font-size: 60px;
    padding-left: 15px;
}
.contain-token-secondo h3 {
  font-size: 23px;
}
  .sez-6-tondino {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #80CAF6;
      align-self: flex-start;
      margin-top: 12px;
  }
  #mini {
      font-size: 30px;
  }
  .sez-6-row-1 .contain-token:first-of-type {
      margin-bottom: 150px;
  }
  .sez-6-row-2 .contain-token:first-of-type {
    margin-bottom: 150px;
}
.sez-6-row-1 .contain-token-secondo:first-of-type {
    margin-bottom: 150px;
}
.sez-6-row-2 .contain-token-secondo:first-of-type {
  margin-bottom: 150px;
}

.img-back-grafico {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 50%;
    z-index: -1;
}
.row6-n2 {
    padding-bottom: 65px;
}

/* -------------------------------fine  sezione 6 ----------------------------------------*/
/* -------------------------------Inizio  sezione 7 ----------------------------------------*/

.container-7 {
    position: relative;
    padding-bottom: 100px;
    margin-bottom: 60px;
}

.cont-7-row-1 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 45px;
}

.cont-7-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box-distribution {
    width: 70%;
    max-width: 1200px;
    padding-bottom: 42px;
}

.testo-distribution {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}
.testo-distribution h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    letter-spacing: 0.03em;
    text-align: left;
}
.testo-distribution p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.03em;
}    
.misuratore-back {
    height: 22px;
    background: #38404C;
    border-radius: 30px;
}
.misuratore-colore {
    width: 2%;
    height: 22px;
    background: linear-gradient(90deg, #00FFFF 0%, #FF00D5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.misuratore-pieno-1 {
    width: 100%;
    transition: 2s;
}
.misuratore-pieno-2 {
    width: 50%;
    transition: 2s;
    transition-delay: 0.2s;
}
.misuratore-pieno-3 {
    width: 27%;
    transition: 2s;
    transition-delay: 0.4s;
}
.misuratore-pieno-4 {
    width: 10%;
    transition: 2s;
    transition-delay: 0.6s;
}
.misuratore-pieno-5 {
    width: 5%;
    transition: 2s;
    transition-delay: 0.8s;
}
.misuratore-pieno-6 {
    width: 5%;
    transition: 2s;
    transition-delay: 1s;
}
.cont-7-img-abso {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

/* sezione */

.container-8 {
    padding: 0px 80px;
}
.cont-8-row-1 {
    /* border: 1px solid red; */
    padding-bottom: 50px;
}
.cont-8-row-1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
}
.cont-8-row-2 {
    /* border: 1px solid red; */
    display:flex;
    justify-content: space-around;
}
.cont-8-col-1 {
    /* border: 1px solid green; */
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
}
.cont-8-col-2 {
    /* border: 1px solid green; */
    width: 22px;
    background: linear-gradient(0deg, #00FFFF 0%, #FF00D5 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.cont-8-col-3 {
    /* border: 1px solid green; */
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-top: 160px;
}
.cont-8-col-1-row-1,
.cont-8-col-1-row-2 {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.cont-8-col-3-row-1,
.cont-8-col-3-row-2 {
    /* border: 1px solid yellow; */
    padding-bottom: 60px;
}
.roadmap-step {
    /* border: 1px solid #00FFFF; */
    padding-bottom: 16px;
}
.roadmap-scheda {
    /* border: 1px solid #00FFFF; */
    /* oefownfowfnow */
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    align-self: flex-end;
    width: 100%;
    transition: 2s;
}
.roadmap-scheda:hover {
    box-shadow: 4px 4px 30px #FF00D5;
    transition: 2s;
}

.scheda-1 {
    width: 75%;
}
.scheda-2 {
    width: 100%;
}
.scheda-3 {
    width: 80%;
}
.scheda-4 {
    width: 80%;
}
.roadmap-scheda h3 {
    /* border: 1px solid red; */
    padding-bottom: 16px;
}
 .cont-scheda-road {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 } 
 .cont-scheda-road ul {
     padding-left: 40px;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 25px;
 }

 /* da 0 a 62 di padding animazione   da sx a dx */
 .step-1-foto-inizio {
     padding-left: 0%;   
 }
 .step-1-foto-fine {
    padding-left: 62%;
    transition: padding 2s;   
}
.step-2-foto-inizio {
    padding-left: 62%;   
}
.step-2-foto-fine {
   padding-left: 0%;
   transition: padding 2.3s;   
}

.step-3-foto-inizio {
    padding-left: 0%;   
}
.step-3-foto-fine {
   padding-left: 62%;
   transition: padding 2.6s;   
}
.step-4-foto-inizio {
    padding-left: 62%;   
}
.step-4-foto-fine {
   padding-left: 0%;
   transition: padding 2.9s;   
}


.bolle-sezione-8 {
    margin-top: -250px;
}

.container-9 {
    padding-top: 110px;
    padding-bottom: 80px;
}

.cont-9-row-1 {
    text-align: center;
    padding-bottom: 45px;
}
.cont-9-row-1 h2 {
    font-size: 43px;
    font-style: normal;
    font-weight: bold;
    line-height: 55px;
}

.cont-9-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-9-col33 {
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
    width: 200px;
    height: 200px;
    margin-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 2s;
}
.cont-9-col33:first-of-type {
    margin-left: 0px;
}




/* sezione 10 */


.container-10 {
    width: 70%;
    max-width: 900px;
    background: linear-gradient(90deg, #00FFFF -3.23%, #0096BE -0.06%, #00FFFF 102.55%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin: auto;
    border-radius: 40px;
    padding-bottom: 50px;
}
.cont-10-row-1 {
    margin: auto;
    text-align: center;
    padding: 50px 0px 40px 0px;
}
.cont-10-row-1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
}
.sfondo-contatore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px;
}
.contatore-orario {
    background: linear-gradient(90deg, #005A72 0%, #00B8B8 104.5%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 170px;
    padding: 7px 0px;
    text-align: center;
}
.sfondo-contatore h3 {
    font-size: 55px;
}
.cont-data-name {
    width: 170px;
    text-align: center;
}
.cont-bott-presale {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.botton-presale {
border-radius: 25px;
padding: 18px 120px;
text-decoration: none;
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #000;
}




.esaurito-stile {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}




/*DESK GRANDE*/
@media only screen and (min-width: 1362px) {
    .cont-8-mob {
        display: none;
    }
    .cont-9-col33 img {
        transition: transform 0.5s;
      }
      .cont-9-col33 img:hover {
          transform: rotate(360deg);
          transition: transform 0.5s;
      }
      .cont-9-col33:hover {
          box-shadow: 4px 4px 30px #00FFFF;
          transition: 1.3;
      }
      
}


/*DESK PICCOLO*/
@media only screen and (max-width: 1361px) and (min-width: 980px) {
   
    .container-2 {
        padding: 50px 0px 10px 50px;
    }
     .container-4 {
         top: -60px;
     }
     .bolle-solo-desk {
        position: relative;
        top: -210px;
    }
    .container-5 {
        display: flex;
        justify-content: space-between;
        padding: 0px 50px;
        margin-top: -170px;
    }
    #quote {
        height: 350px;
    }
    .row6-n3 {
        width:90%;
    }
    .cont-8-mob {
        display: none;
    }
    .cont-9-col33 img {
        transition: transform 0.5s;
      }
      .cont-9-col33 img:hover {
          transform: rotate(360deg);
          transition: transform 0.5s;
      }
      .cont-9-col33:hover {
          box-shadow: 4px 4px 30px #00FFFF;
          transition: 1.3;
      }
      
    
         
}

/*MOBILE*/
@media only screen and (max-width: 979px) { 
     body {
        overflow-x: hidden;
     }
     .back-popup-one {
        z-index: 10;
        background-color: #292E37;
        box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
        padding: 30px 20px 25px 20px;
        border-radius: 30px;
        position: absolute;
        top: 30vh;
        left: 20%;
        right: 20%;
    }
     /* inizio header*/

     .container-1-header-mob {
        border-bottom: 0.5px solid #ffffff40;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
    }
    .container-1-header-col-1-mob {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    .container-1-header-col-1-mob a {
        border-radius: 25px;
        padding: 8px 15px 4px;
        text-decoration: none;
        background: linear-gradient(90deg, #901D7D -6.82%, #FF00D5 0.31%, #901D7D 106.01%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: absolute;
        top:8px;
        right: 12px;
    }
    .container-1-header-col-1-mob a {
        font-weight: bold;
        font-size: 16px;
    }
    .container-1-header-col-1-mob p {
        color: #fff; /* fix per browsers senza webkit */
        background: linear-gradient(to left, #ffffff00, #ffffff);
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding: 8px 0px;
        font-size: 13px;
    }
    .container-2-header-mob {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        background: rgba(32, 36, 43, 0.15);
        /* filter: blur(9px); */
        backdrop-filter: blur(3px);
        position: sticky;
        top: 0px;
    }
    .nav-mob {
        z-index: 100;
        background-color: #292E37;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        visibility: hidden;

    }
    .nav-mob #chiudi {
        align-self: flex-end;
        padding-top: 5px;
        padding-right: 5px;
        cursor: pointer;
        
    }
    .nav-mob ul {
        width: 100%;
        margin-bottom: 70px;
    }
    
    .nav-mob li {
        list-style-type: none;
        border-bottom: 1px solid #ffffff60;
        margin-bottom: 5px;
        margin: 0px 40px;
    }
    .nav-mob a {
        display: block;
        text-decoration: none;
        padding: 22px 0px;
        font-size: 22px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    .nav-mob a:hover {
        color: #00FFFF;
    }

    #hamburg {
        cursor: pointer;
    }


     /* fine header*/
    /* inizio sezione uno*/
    .container-1-header,
    .container-2-header {
        display: none;
    }
    .container-2 {
        display:flex;
        flex-direction: column;
        padding: 50px 18px 0px 18px;
        width: 100%;
    }
    .sez-1-col-1 {
        width: 100%;
        position: relative;
    }
    .sez-1-col-2 {
        width: 100%;
        z-index: -10;
        position:  absolute;
        top: 25vh;
        left: 0vw;
    }
    .sez-1-col-1 h1 {
        font-size: 45px;
        line-height: 58px;
        padding-bottom: 55px;
        text-align: center;
    }
    .sez-1-col-1 p {
        line-height: 26px;
        text-align: center;
    }
    .sez-1-col-1-container-btn {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .sez-1-col-1 a {
        padding: 15px 70px;
        margin-right: 0px; 
    }  
    /* .sez-1-col-1 a:last-of-type {
        padding: 15px 70px;
        margin-right: 0px; 
    }   */



    .cont-btn {
        margin-bottom: 40px;
        
        
    } 
    #par-mobile {
        display: block;
    } 
    #par-desk {
        display: none;
    }
   /* fine sezione uno*/



   /* ------- Inizio Seconda sezione -------- */
   .container-3 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .testo-container-3 {
       align-self: flex-start;
       width: 100%;
       position: relative;
       top: -40px;
   }
   .container-3 img { /* ------- gestisce entrebe le immagini delle bolle -------- */  
       align-self: flex-end;
       width: 20%;
   }
   .container-3 p {
       padding: 0px 20px;
       text-align: left;
   }
   .container-3 h2 {
       padding: 0px 20px 40px;
       text-align: left;
   }    
   .container-3 img:last-of-type { /* ------- gestisce la bolla piu in basso -------- */
       position: relative;
       top: -40px;
   } 


   /* ------- Inizio terza sezione -------- */


   .container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:auto;
    padding: 10px;
    height: auto;
    position: relative; 
    top: -85px;
 }
 .img-back {      /* ------- immagine background -------- */
     position: absolute;
     z-index: -1;
     width: 75%;
     display: none;
 }
 .contain-skill {
     background-color: #292E37;
     box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
     border-radius: 30px;
     width: 49%;
     padding: 20px 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .contain-skill h3 {
     padding-top: 15px;
     line-height: 25px;
     font-weight: 400;
     text-align: center;
     font-size: 15px;
 }
 
 .sez-4-row-1 {
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding-bottom: 45px;
 }
 .sez-4-row-2 {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }
 .bolle-solo-desk {
     display: none;
 }
 
  /* ------- Inizio 4 sezione -------- */

 .container-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 0px;
}
.cont-5-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.cont-5-col-1 h2 {
    font-size: 43px;
    padding-bottom: 45px;
}
.cont-5-col-1 p {
    font-size: 18px;
    padding-bottom: 55px;
    line-height: 26px;
    text-align: center;
}
.cont-5-col-2 {
    width: 60%;
    overflow: hidden;
    margin-top: -40px;
}

.sez-5-col-1-container-btn  {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sez-5-col-1-container-btn .bottone-blue {
    margin-right: 0px;
}
.sez-5-col-1 a {
    padding: 15px 70px;
    margin-right: 0px; 
} 
.ombra-background {
    width: 350px;
    height: 700px;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: -10;
    background: radial-gradient(64.64% 40.2% at 38.96% 56.13%, rgba(0, 255, 255, 0.12) 0%, rgba(32, 36, 43, 0.12) 100%);
}
.cont-5-col-2 {
    display: none;
}
.boll-5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 80px;
}
.boll-5 img {
    width: 50%;
    max-width: 280px;
}

/*sezione 6*/
.row6-n2 {
    padding-bottom: 10px;
}


.row6-n1 {
    padding-left: 20px;
    padding-right: 20px;
}
.row6-n3 {                           /*oggetto da alternare */
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 70px 15px;
    background: radial-gradient(40.15% 40.15% at 50% 50%, rgba(0, 255, 255, 0.44) 0%, rgba(32, 36, 43, 0) 100%);
    z-index: 0;
    
 }
 .contain-token {
    padding: 0px 12px;
    width: 100%;
    height: 140px;
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: relative;
  }
  .section-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sez-6-tondino {
    position: absolute;
    top: 0px;
}

.sez-6-row-1 {
    width: 40%;
}
.sez-6-row-2 {
    width: 40%;
}

.contain-token h2 {
    font-size: 30px;
}
.contain-token h3 {
    font-size: 19px;
    text-align: center;
}
#mini {
    font-size: 17px;
}
.img-back-grafico {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    z-index: -1;
}








.row6-n3-seconda {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 70px 15px;
    z-index: 0;
    background: radial-gradient(40.15% 40.15% at 50% 50%, rgba(255, 0, 213, 0.63) 0%, rgba(32, 36, 43, 0) 100%);
}
.contain-token-secondo {
  padding: 0px 12px;
  width: 100%;
  height: 140px;
  background-color: #292E37;
  box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
}


.contain-token-secondo h2 {
    font-size: 30px;
    
}
.contain-token-secondo h3 {
    font-size: 20px;
    text-align: center;
}
.sez-6-row-1 .contain-token:first-of-type {
    margin-bottom: 100px;
}
.sez-6-row-2 .contain-token:first-of-type {
  margin-bottom: 100px;
}
.sez-6-row-1 .contain-token-secondo:first-of-type {
  margin-bottom: 100px;
}
.sez-6-row-2 .contain-token-secondo:first-of-type {
margin-bottom: 100px;
}




/* sezione 7 */

.box-distribution {
    width: 90%;
    max-width: 1200px;
    padding-bottom: 42px;
}
.cont-7-row-1 {
    padding-bottom: 70px;
}



/* sezione 7 */

.cont-8-desk {
    display: none;
}


.container-8-mob {
    padding: 0px 20px;
}
.cont-8-row-1-mob {
    /* border: 1px solid red; */
    padding-bottom: 50px;
}
.cont-8-row-1-mob h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
}
.cont-8-row-2-mob {
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cont-8-col-1-mob {
    /* border: 1px solid green; */
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cont-8-col-1-row-1-mob {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    width: 100%;
}
.cont-8-col-1-row-2-mob {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    width: 100%;
}
.roadmap-step-mob {
    /* border: 1px solid #00FFFF; */
    padding-bottom: 10px;
    
}
.roadmap-scheda-mob {
    /* border: 1px solid #00FFFF; */
    /* oefownfowfnow */
    background-color: #292E37;
    box-shadow: 4px 4px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    align-self: center;
    width: 100%;
    max-width: 550px;
}

.scheda-1-mob {
    width: 100%;
}
.scheda-3-mob {
    width: 100%;
}
.roadmap-scheda-mob h3 {
    /* border: 1px solid red; */
    padding-bottom: 16px;
}
 .cont-scheda-road-mob {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 } 
 .cont-scheda-road-mob ul {
     padding-top: 20px;
     padding-left: 40px;
     color: #fff;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 25px;
 }
 #step-1-foto-mob {
     padding-left: 15px;
 }
 #step-2-foto-mob {
    padding-left: 15px;
}
#step-3-foto-mob {
    padding-left: 15px;
}
#step-4-foto-mob {
    padding-left: 15px;
}

.bolle-sezione-8 {
    display: none;
}

/*----------- sezione 9 ------------------*/

.cont-9-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cont-9-col33 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.cont-9-col33:first-of-type {
    margin-left: 0px;
}


/* ----------------sezione countdown------------------- */

.container-10 {
    width: 93%;
    max-width: 900px;
    background: linear-gradient(90deg, #00FFFF -3.23%, #0096BE -0.06%, #00FFFF 102.55%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin: auto;
    border-radius: 40px;
    padding-bottom: 50px;
}
.cont-10-row-1 {
    margin: auto;
    text-align: center;
    padding: 50px 0px 40px 0px;
}
.cont-10-row-1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
}
.sfondo-contatore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px;
}
.contatore-orario {
    background: linear-gradient(90deg, #005A72 0%, #00B8B8 104.5%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 20%;
    padding: 7px 0px;
    text-align: center;
}
.sfondo-contatore h3 {
    font-size: 40px;
}
.cont-data-name {
    width: 100px;
    text-align: center;
}
.cont-bott-presale {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.botton-presale {
border-radius: 25px;
padding: 18px 120px;
text-decoration: none;
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #000;
}






}